/*
 * Globals
 */

 .bg_Grey {
  /* The image used */
  background-image: url('Images/Background0GreyTest.jpg');
  }

  h3 {
    color: red;
    font-size: 2em;
  }

  .whiteText {
    color: white;
    font-size:large;
  }
  
  .redText {
    color: red;
    font-size:large;
  }

  .redDarkText {
    color: rgb(192, 0, 0);
    font-size:large;
  }

  .cornerImage {
    
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 20px;

  }

  .bannerImage {
    position:fixed;
    left: 20vh;
  }

/*
 * Base structure
 */



/*
 * Header
 */

